<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>01-HZ88微博-架构的搭建.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>7902A75E1CE05A8B002C7D3C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>7902A7771CE05A8C002C7D3C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>7902A7821CE05A8C002C7D3C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
